.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root{
  --primary-color:#99e5d5;
  --seconday-color:#faef53;
}
body{
  background-color: var(--primary-color);
}
h1{
  font-size: 60px;
  margin-left: 3rem;
}
p{
  font-size: 25px;
  margin-left: 3rem;
}
.subButton{
  margin-left: 3rem;
}
#btn1{
  margin: 0.5rem;
  font-size: 25px;
  border-radius: 1rem;
  padding: 0.3rem;
  background-color: var(--seconday-color);
  cursor: pointer;
}
#btn2{
  margin: 0.5rem;
  font-size: 25px;
  border-radius: 1rem;
  padding: 0.3rem;
  background-color: var(--seconday-color);
  cursor: pointer;
}
#btn3{
  margin: 0.5rem;
  font-size: 25px;
  border-radius: 1rem;
  padding: 0.3rem;
  background-color: var(--seconday-color);
  cursor: pointer;
}

.nonBullets{
  list-style: none;
  padding: 0.5rem;
  margin: 1rem;
}

#book1{
  margin-top: 4rem;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  background-color: #f77777;
  border-radius: 1rem;
}
#book2{
  margin-top: 1rem;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  border-radius: 1rem;
  background-color: #f77777;
}